@{
    ViewBag.Title = "Library";
}

<style>
    .row {
        padding-top: 20px;
    }
</style>
<link href="~/Content/bootstrap/file-input-wrapper.css" rel="stylesheet" />

<div class="row" ng-app="library-app" ng-controller="LibraryCtrl">
    <div class="col-xs-9">
        <div ng-repeat="song in user.librarySongs">
            {{song.artist}} &ndash; {{song.title}}
        </div>
        <div ng-show="user.librarySongs.length == 0">
            You don't have any songs in your library yet
        </div>
    </div>
    <div class="col-xs-3">
        <a href="#" class="btn btn-success" id="upload-btn" data-toggle="modal" data-target="#upload-modal">
            <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Upload
        </a>
        Maybe filter
    </div>
</div>

<div class="modal fade" id="upload-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Song upload</h4>
            </div>
            <div class="modal-body">
                <span id="browse-btn" class="btn btn-primary btn-file">
                    Browse
                    <input type="file"/>
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $('.btn-file :file').on('change', function() {
            console.log('changed');
        });
    </script>
}